* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #000000;
  padding: 10px;
  color: rgb(224, 224, 224);
}

/* Header styling */
header {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

main {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

main span {
  position:absolute;
  top: 0;
}

/* Canvas styling */
canvas {
  /* max-width: 50vw; */
  width: 100%;
  transform-origin: top;
  /* scale: 0.5; */
  height: auto;
  width: auto;
  border: 1px solid #ccc;
  margin-top: 20px;
  background-color: rgba(117, 117, 117, 0.034);
  filter: saturate(2), brightness(1.5)
}

/* Form styling */
#imageForm {
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  gap: 10px;
  /* width: 100%; */
  height: 70px;
}

#imageForm > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.image input {
  border: 1px solid rgb(119, 119, 119);
  padding: 3px;
  border-radius: 4px;
}

/* Button styling */
button {
  background-color: #333;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.336);
  padding: 10px 15px;
  /* border: none; */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  height: 100%;
}

#convertButton {
  background-color: rgba(155, 252, 0, 0.692);
  color: black;
  font-size: 20px;
  font-weight: 800;
}

#convertButton:disabled {
  /* background-color: #8b8b8b; */
  animation: pulse 1s ease-in-out infinite;
}

@keyframes pulse {
  0%, 100% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.6;
  }
}

/* Label styling */
label {
  font-weight: bold;
}

.loading {
  position: fixed;
  display: none;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
  top: 0;
  animation: pulse 1s ease-in-out infinite;
}

.slider {
  flex-grow: 1;
}

.slider input {
  flex-grow: 1;
}

.sliderVertical {
  position: fixed;
  right: -30vh;
  top: 50%;
  transform: translateY(-50%);
}

.sliderVertical input[type="range"] {
  writing-mode: bt-lr;
  transform: rotate(-90deg);
  width: 80vh;
  height: 20px;
}

.sliderVertical label {
  transform: rotate(-90deg);
  display: block;
  text-align: center;
  margin-left: 20px;
}

.sliderVertical span {
  transform-origin: top;
  transform: rotate(90deg);
  display: block;
  text-align: center;
  margin-left: 45px;
}

/* Responsive styling */
@media (min-width: 768px) {
  #imageForm {
    flex-direction: row;
    align-items: center;
    gap: 15px;
  }

  #imageForm > div {
    flex: 1;
  }
}

@media (min-width: 1024px) {
  body {
    padding: 40px;
  }

  header {
    font-size: 2.5rem;
  }

  canvas {
    width: 80%;
  }

  #imageForm {
    max-width: 800px;
  }
}

.colorBtn {
  background-color: rgb(150, 127, 255);
  color: black;
  font-weight: 800;
}

.non-colorBtn{
  background-color: white;
  color: black;
  font-weight: 800;
}