* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #000000;
  padding: 10px;
  color: rgb(224, 224, 224);
}

/* Main Layout */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Canvas styling */
canvas {
  /* width: 100%; */
  max-width: 100%;
  width: auto;
  /* height: 80vh; */
  /* border: 1px dashed #a3a3a3; */
  /* border-radius: 10px; */
  margin-top: 20px;
  background-color: rgba(117, 117, 117, 0.034);
  filter: saturate(2), brightness(1.5);
  transform-origin: top;
}

/* Form styling */
#imageForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  /* width: 100%; */
}

#imageForm > div {
  display: flex;
  align-items: center;
  flex: 1 1 100%; 
  /* Make it flexible and take full width on small screens */
}

/* Button styling */
button {
  background-color: #333;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.336);
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  flex: 1 1 100%; /* Make buttons flexible and take full width */
}

#convertButton {
  background-color: rgba(155, 252, 0, 0.692);
  color: black;
  font-size: 20px;
  font-weight: 800;
}

/* Label styling */
label {
  font-weight: bold;
}

/* Slider styling */
.sliderVertical {
  /* position: fixed; */
  right: 10px; /* Adjust to avoid being too close to the edge */
  /* top: 50%;
  transform: translateY(-50%); */
}

.sliderVertical input[type="range"] {
  writing-mode: bt-lr;
  /* transform: rotate(-90deg); */
  width: 200px; /* Reduce width for vertical slider */
}

/* Loading overlay */
.loading {
  position: fixed;
  display: none;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
  top: 0;
}

/* Responsive adjustments */
@media (min-width: 600px) {
  #imageForm > div {
    flex: 1 1 auto; /* Allow the input and labels to take available space */
  }
}

@media (min-width: 768px) {
  #imageForm {
    justify-content: space-between;
  }

  button {
    flex: 1; /* Allow buttons to stretch evenly */
  }
}